.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(170, 121, 219);
}

.main {
  margin-top: 4rem;
  width: 50%;
  height: 70%;
  border: 2px solid rebeccapurple;
  background-color: bisque;
  padding: 1rem;
}

.info {
  display: flex;
  margin-top: 2rem;
  background-color: cornsilk;
  padding: 1.5rem;
  color: navy;
  font-style: italic;
}

.copy {
  margin-left: 1rem;
  background-color: rebeccapurple;
  color: silver;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraphs {
  margin-top: 1rem;
  border-top: 1px solid rebeccapurple;
  font-family: cursive;
}

.title {
  color: blue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

